<form class="form-group">
    <div class="form-icon">
        <img src="" alt="">
        Formulário de Cadastro
    </div>
    <h3>Informações</h3>

    <div class="input-wrapper">
      <input type="text" name="username" placeholder="Nome de usuário" required>
      <span></span>
    </div>
    <div class="input-wrapper">
      <input type="text" name="username" placeholder="Nome de usuário" required>
      <span></span>
    </div>    
    <div class="input-wrapper">
      <input type="text" name="username" placeholder="Nome de usuário" required>
      <span></span>
    </div>    
    <div class="input-wrapper">
      <input type="text" name="username" placeholder="Nome de usuário" required>
      <span></span>
    </div>
    <div class="input-wrapper">
      <input type="text" name="username" placeholder="Nome de usuário" required>
      <span></span>
    </div>    
    <div class="input-wrapper">
      <input type="text" name="username" placeholder="Nome de usuário" required>
      <span></span>
    </div>


    <div class="checkbox-wrapper">
        <div class="checkbox">
            <input type="checkbox" id="" name="" formcontrolname="">
            <label for="showclosed"> Investidor </label>
        </div>
        <span>Perfil</span>
    </div>
    <div class="btn-wrapper">
        <button class="btn btn-primary">Cadastrar</button>
        <button class="btn btn-secondary">Voltar</button>
    </div>
</form>



    <!-- nome e sobrenome  [formGroup]="formGroup"
email
senha
telefone
    negócio
        nomenegoci
        setor
        descricao
        produtos
        servicos
        link
-->
