h1 {
    font-family: 'Gotham';
    color: red;
    font-weight: 700;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
  }
  
  .navbar-logo img {
    width: 50px;
    height: auto;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #f39c12; /* Change to your desired hover color */
  }