

<div class="z-50 pt-8">
  <div class=" padding-top: 4vw;"> </div>
  <img class="w-full fundo-toldo" style="height: 32vw;">
</div>
<div style="padding-top: 14vw;"></div>

<div style=""></div><div class="z-40 container">

  <div style="padding: 12vw"></div>
  <div class="flex pt-2">
      <div class="col-md-6">
          <div class="card">
                 <img class="animate-slide-right" style="padding-left: 5vw; height: 24vw;" src="../../../../assets/images/vendedor-negocio.png">
                 
          </div>
      </div>
      <div class="col-md-6">
          <div class="card w-full">
            <app-tab></app-tab>
      </div>
  </div>
</div>
</div>
