<section class="fundo-background ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <div class="pt-16">
        </div>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 opacity-90">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                        <img
                        src="../../../../assets/icone-login.png"
                        class="mr-2 w-24 h-22"
                        alt="logo-login"
                      /> <h1> DEVLIVERY </h1>
                    </a>
                </h1>

                <a href="#" class="flex items-center mb-6 font-semibold text-gray-900 dark:text-white">Faça seu cadastro para ter acesso a plataforma.</a>
                <form class="space-y-4 md:space-y-6"  [formGroup]="formularioCadastro">
                    <div>
                        <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Email </label>
                        <input type="text" formControlName="nome" name="nome" id="nome" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Digite seu Nome" required="">
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Email </label>
                        <input type="email" formControlName="email" name="email" id="email"  (blur)="verificarEmail()" [ngClass]="{ 'borda-red': bordaVermelhaEmail }" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Digite seu Email" required="">
                    </div>
                    <div>
                        <label for="senha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Senha </label>
                        <input type="password" formControlName="senha" name="senha" id="senha" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Digite sua senha" required="">
                    </div>                    
                    <div>
                        <label for="confirmarSenha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Confirma Senha </label>
                        <input type="password" formControlName="confirmarSenha" name="confirmarSenha" (blur)="verificarSenhas()"  [ngClass]="{ 'borda-red': bordaVermelhaSenha }" id="confirmarSenha" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>

                    <div>
                        <label for="telefone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Email </label>
                        <input type="text" formControlName="telefone" name="telefone" id="telefone" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Digite seu Telefone"   required="">
                    </div>
                    <div class="text-red-500" *ngIf="formularioCadastro.hasError('senhasDiferentes')">
                        As senhas não coincidem.
                    </div>
                    <button type="button"   (click)="realizarCadastro()" class="w-full bg-blue-600 text-white hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"> Cadastrar </button>
                    


                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                         <a href="login" class="font-medium text-primary-600 hover:underline dark:text-blue-500"> Voltar  </a>

                         <br> Criar animacao da tela de login para tela de cadastro alterando o fundo branco com transition / animation 
                    </p>
                </form>     
            </div>
            
        </div>        
        <div class="pt-16">
        </div>
    </div>
  </section>
